@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,400&display=swap');

$fredoka: 'Fredoka One', cursive;
$sans: 'Open Sans', sans-serif;

$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;