@import './colors.scss';
@import './fonts.scss';

.main-page{
    width: 100vw;
    // max-width: 90vw;
    // margin: 0 10%;
}

main {
    min-height: 90vh;
    background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
    background-position: center;
    background-repeat: no-repeat;
}