@import "../colors";
@import "../fonts";

.footer_list{
  width: 100vw;
  color: $honeydew;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 0;
  margin: 0 -5px;
  border-bottom: solid 1px $honeydew;
  a{
    text-decoration: none;
    color: $honeydew;
  }
  &-elem{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 6px 0 6px;
    width: 100%;
    &-details{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 6px;
    }
    &:not(:first-child) {
      border: 1px solid $honeydew;
    }
    p{
      font-size: 1rem;
      font-family: $sans;
      font-weight: $bold;
    }
    &-icon{
      width: 100%;
      font-size: 1.5rem;
      padding: 8px;
      text-align: center;
    }
  }




.active{
  background-color: $flame;
}
}